.join {
  font-family: "Poppins", sans-serif;
  height: 100vh;
  background: linear-gradient(to right top, #65dfc9, #6cdbeb);
  display: flex;
  align-items: center;
  justify-content: center;
}

.glass {
  width: 37%;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 2rem;
  z-index: 2;
  -webkit-backdrop-filter: blur(2rem);
  backdrop-filter: blur(2rem);
  display: flex;
  justify-content: space-around;
  transform: translate(height 2s);
}

.circle1,
.circle2 {
  background: white;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.3)
  );
  height: 20rem;
  width: 20rem;
  position: absolute;
  border-radius: 50%;
}

.circle1 {
  top: 7%;
  right: 22%;
}
.circle2 {
  bottom: 3%;
  left: 24%;
}
.glass .btns-genereted_form {
  width: 100%;
}
.glass button {
  height: 60px;
  font-size: 1.5rem;
  border-radius: 25px;
  background: linear-gradient(
    to right bottom,
    rgba(180, 242, 249, 0.88),
    rgba(204, 255, 175, 0.65)
  );
  box-shadow: 0px 0px 8px 0px #0b3f42a3;
  color: #355e88;
}

@media (max-width: 450px) {
  .glass {
    width: 75%;
  }
  .glass > h1 {
    margin-left: 3%;
    font-size: 2em;
  }
}
