.join {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  width: 100vw;
  background: linear-gradient(to right top, #65dfc9, #6cdbeb);
  display: flex;
  align-items: center;
  justify-content: center;
}

.glass {
  background: white;
  min-height: 72vh;
  width: 37%;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 2rem;
  z-index: 2;
  -webkit-backdrop-filter: blur(2rem);
  backdrop-filter: blur(2rem);
  display: flex;
  justify-content: space-around;
}
.glass > h1 {
  color: #426696;
  font-weight: 600;
  font-size: 2.5rem;
  opacity: 0.8;

  display: flex;
  position: absolute;
  height: 30%;
  align-items: center;
}
.circle1,
.circle2 {
  background: white;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.3)
  );
  height: 20rem;
  width: 20rem;
  position: absolute;
  border-radius: 50%;
}

.circle1 {
  top: 7%;
  right: 22%;
}
.circle2 {
  bottom: 3%;
  left: 24%;
}

.div-inputs-join {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 70%;
  position: absolute;
  bottom: 0;
  padding-top: 4%;
  align-items: center;
  gap: 10%;
}
.FildEmail,
.FildPassword {
  width: 95%;
  display: flex;
  text-align: center;
  align-items: center;
  gap: 8px;

  flex-wrap: wrap;
}
.inputs-join,
.btn-join {
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border: none;
  width: 100%;
  padding: 0.5rem;
  border-radius: 2rem;
}

.typeInputpassword {
  width: 100%;
  position: relative;
}
.typeInputpassword > input {
  width: 100%;
}

.typeInputpassword > svg {
  position: absolute;
  right: 1%;
  margin-top: 4px;
}
.div-inputs-join .btn-join {
  cursor: pointer;
  width: 70%;
  height: 10%;
  font-size: 1.2em;
}

.inputs-join,
.btn-join:hover:focus {
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(191, 240, 240, 0.3)
  );

  border: 1px solid white;
  box-shadow: 0px 0px 4px 0px #234e50db;
}

.div-inputs-join .btn-join:active {
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(124, 235, 165, 0.3)
  );
}

.alert {
  height: fit-content;
  padding: 9px;
  color: #e14d2a;
  filter: drop-shadow(0px 0px 3px #69dddd);
  text-shadow: 0px 0px 13px rgba(122, 255, 155, 0.5);
  display: flex;
  align-items: center;
  gap: 8px;
}
.alert > svg {
  font-size: 1.7em;
  box-shadow: 0px 0px 2px 2px #93ecf2;
  border-radius: 50%;
}
@media (max-width: 970px) {
  .glass {
    background-color: aqua;
  }
}
