.join {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  width: 100vw;
  background: linear-gradient(to right top, #65dfc9, #6cdbeb);
  display: flex;
  align-items: center;
  justify-content: center;
}

.glass {
  background: white;
  min-height: 72vh;
  width: 37%;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 2rem;
  z-index: 2;
  -webkit-backdrop-filter: blur(2rem);
  backdrop-filter: blur(2rem);
  display: flex;
  justify-content: space-around;
}
.glass > h1 {
  color: #426696;
  font-weight: 600;
  font-size: 3rem;
  opacity: 0.8;

  display: flex;
  position: absolute;
  height: 30%;
  align-items: center;
}
.circle1,
.circle2 {
  background: white;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.3)
  );
  height: 20rem;
  width: 20rem;
  position: absolute;
  border-radius: 50%;
}

.circle1 {
  top: 7%;
  right: 22%;
}
.circle2 {
  bottom: 3%;
  left: 24%;
}

.div-inputs-join {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
  /* flex-direction: column; */
  /* background: beige; */
  height: 70%;
  position: absolute;
  float: inline-end;
  bottom: 0;
  padding-top: 4%;
  gap: 3%;
}

.div-inputs-join > input,
.btn-join {
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border: none;
  width: 50%;
  padding: 0.5rem;
  border-radius: 2rem;
}

.div-inputs-join .btn-join {
  cursor: pointer;
  width: 20%;
}

.div-inputs-join > input,
.btn-join:hover:focus {
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(191, 240, 240, 0.3)
  );

  border: 1px solid white;
  box-shadow: 0px 0px 4px 0px #234e50db;
}

.div-inputs-join .btn-join:active {
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(124, 235, 165, 0.3)
  );
}
