.listRooms {
  display: flex;
  align-items: center;
  /* flex-flow: column nowrap; */
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: stretch;
  height: 100vh;
  width: 100%;
  padding: --Cpadding;
  gap: 2px;
}
.filterRooms {
  width: 100%;
  padding: 5px;
  display: flex;
  background-color: rgb(25, 74, 93);
  justify-content: space-around;
  flex-wrap: wrap;
}
.ListRooms {
  width: 100%;
  height: inherit;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 5px;
}
.Room {
  display: flex;
  flex-direction: column;
  width: 15em;
  height: 15em;
  padding: 0;
  margin: 0;
  gap: 0;
  text-align: center;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 1px black;
  cursor: pointer;
}
.nameRoom {
  text-align: center;
  background-color: rgb(205, 218, 223);
  color: #0b1e25;
  font-size: 1.2em;
  border-radius: 3px;
  width: 100%;
  padding: 1px 5px;
}
.backGroundRoom {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  flex-direction: column;
  background-image: url(http://localhost:3000/static/media/game.790bebc5408cc3daf663.png);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 3px;
  background-position: top left;
  align-items: center;
  border-radius: 3px;
}

.btnRoom {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: stretch;
  justify-content: space-around;
  text-align: center;
  padding: 3px;
  gap: 20px;
  z-index: 3;
}
.infoRoom {
  display: none;
  width: 100%;
  justify-content: center;
  text-align: center;
  position: relative;
  bottom: 0%;
  z-index: 0;
}

.Room:hover {
  width: 16em;
  height: 16em;
  box-shadow: 1px 1px 1px rgba(26, 218, 26, 0.807);
}

.Room:hover .infoRoom {
  display: flex;
}
/********  div-History for history Rounds  *********/
.div-Add-Room,
.div-History {
  position: absolute;
  bottom: 0;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  z-index: 3;
  backdrop-filter: blur(16px);
  justify-content: space-around;
  display: flex;
  flex-direction: column;
  inset: 2.7em 0% 0% 1.9em;
}

.rw-widget-picker {
  width: 100px;
}
.rw-combobox-input,
.rw-widget-input,
.rw-picker-btn,
.Name-Room {
  height: 30px;
  text-align: center;
}
.rw-widget-input {
  width: 55%;
}
.rw-picker-btn {
  width: 18px;
  margin-left: 2px;
}
.contant-add {
  display: flex;
  align-items: baseline;
  gap: 10px;
  font-size: 1.3em;
  padding: 2px;
  background: linear-gradient(
    to right bottom,
    rgb(209 203 203 / 84%),
    rgb(25 74 93 / 37%)
  );
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 7px;
}

.div-selections {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.div-grid {
  display: contents;
  margin-right: 13%;
  margin-left: 10%;
}

@media (max-width: 450px) {
  .Room {
    width: 13em;
    height: 13em;
  }
  .Room:hover {
    width: 13.5em;
    height: 13.5em;
  }
}
