.dashboard {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3px;
  margin-top: 5px;
}

.dashboard > h1 > .selectPagination {
  z-index: 1;
  height: auto;
  background: #49a5ca75;
  font-size: 1.5rem;
  bottom: auto;
  left: auto;
}

.dashboard > h1 > .selectPagination > option {
  background: #0c445a5b;
  font-size: 1.1rem;
}
/* .backGroundRoom {
  position: relative;
}
.backGroundRoom::before {
  content: "";
  position: absolute;
  z-index: 2;
  width: 100%;
  top: 0px;
  background-color: rgba(0, 0, 0, 0.301);
  height: 100%;
  bottom: 0;
  cursor: auto;
} */
