.formSing {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loginForm {
  display: flex;
  justify-content: center;
  width: 40%;
  position: relative;
}
.logoSing {
  width: 90px;
  height: 90px;
  top: -35px;
  background: #edffff;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  border: 2px solid #4d9c56;
  background-image: url("../../../image/login.png");
  background-size: cover;
}
.containerSing {
  display: flex;
  flex-direction: column;
  border: 3px solid #000;
  border-radius: 15px;
  padding: 7px;
  width: 100%;
  justify-content: space-around;
  background: #155454;
  box-shadow: inset 0px 0px 0px 2.5px #e1ffff;
}

@media (max-width: 450px) {
  .loginForm {
    height: 70%;
    width: 90%;
  }
}
