.listRooms {
  display: flex;
  align-items: center;
  /* flex-flow: column nowrap; */
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: stretch;
  width: 100%;
  padding: --Cpadding;
  gap: 2px;
}
.filterRooms {
  width: 100%;
  padding: 5px;
  display: flex;
  background-color: rgb(25, 74, 93);
  justify-content: space-around;
  flex-wrap: wrap;
}
.ListRooms {
  width: 100%;
  height: inherit;
  display: flex;
  padding: 0.5rem;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1rem;
  overflow: auto;
}

.Room {
  display: flex;
  flex-direction: column;
  width: 15em;
  height: 15em;
  box-shadow: 0px 0px 3px 1px #000000ab;
  cursor: pointer;
  position: relative;
  transition: transform 0.5s ease;
}
.Room:hover {
  box-shadow: 0px 0px 3px 1px #0a510fc2;
  transform: scale(1.03);
}

.Room:hover .infoRoom {
  display: flex;
}
.nameRoom {
  text-align: center;
  background-color: rgb(205, 218, 223);
  color: #0b1e25;
  font-size: 1.2em;
  border-radius: 3px;
  width: 100%;
  padding: 1px 5px;
}

.btnRoom {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  padding: 3px;
  gap: 0.5rem;
  position: absolute;
  bottom: 0.2rem;
  left: 0;
  right: 0;
  z-index: 3;
  backdrop-filter: blur(1.2px);
}
.btnRoom > button {
  box-shadow: 0 0 2px 0.5px;
  height: 100%;
}
.infoRoom {
  display: none;
  justify-content: center;
  position: absolute;
  font-size: 1.2rem;
  inset: 50% 0 auto;
}
.Room > img {
  position: absolute;
  width: 100%;
  height: 90%;
  top: 10%;
  image-rendering: optimizespeed;
}

/********  div-History for history Rounds  *********/
.div-Add-Room,
.div-History {
  position: absolute;
  bottom: 0;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  z-index: 10;
  backdrop-filter: blur(16px);
  justify-content: space-around;
  display: flex;
  flex-direction: column;
  inset: calc(0.5 * var(--custmHeight-4)) calc(0.5 * var(--custmWidth))
    calc(0.2 * var(--custmHeight-4)) calc(0.5 * var(--custmWidth));
}

.rw-widget-picker {
  width: 100px;
}
.rw-combobox-input,
.rw-widget-input,
.rw-picker-btn,
.Name-Room {
  height: 30px;
  text-align: center;
}
.rw-widget-input {
  width: 55%;
}
.rw-picker-btn {
  width: 18px;
  margin-left: 2px;
}

.contant-add {
  display: flex;
  align-items: baseline;
  gap: 10px;
  font-size: 1.3em;
  padding: 2px;
  background: linear-gradient(
    to right bottom,
    rgb(209 203 203 / 84%),
    rgb(25 74 93 / 37%)
  );
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 7px;
}

.div-selections {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.div-grid {
  display: contents;
  margin-right: 13%;
  margin-left: 10%;
}

.btnAddRoom {
  position: absolute;
  bottom: 22px;
  right: 22px;
}

@media (max-width: 450px) {
  .Room {
    width: 13em;
    height: 13em;
  }
  .Room:hover {
    width: 13.5em;
    height: 13.5em;
  }
}
