.pagination {
  background: rgb(95, 202, 166);
  text-align: center;
  display: flex;
  justify-content: center;
  position: absolute;
  align-items: center;
  bottom: 1%;
  width: -webkit-fill-available;
  width: -moz-available;
}

.MuiPagination-ul :last-child {
  font-size: 1.2rem;
}
